.feed-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  gap: 50px;
}


/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.languages{
  display: flex;
  gap: 12px;
}

.languages > div{
  transform: scale(1);
  transition: transform 0.2s ease;
  cursor: pointer;
  border: 5px solid white;
}

.languages > div:hover{
  transform: scale(1.05);
}

.feed-page header{
  width: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}

.feed-page header .languages,
.feed-page header .updates {
  height: fit-content;
}

.feed-page header .updates {
  background-color: var(--red);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  width: 300px;
}

.feed-page header .profile-container {
  position: relative;
  z-index: 10;
}

.feed-page header .profile {
  position: relative;
  margin-top: -60px;
  top: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  background: none;
  padding: 0;
  z-index: 20;
}

.feed-page header .profile:hover {
  transform: scale(1.05);
}

.feed-page header .profile-options {
  position: absolute;
  background-color: var(--green);
  /* padding: 20px; */
  /* padding-top: 120px; */
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  width: 126px;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  font-family: 'Excalifont', sans-serif;
  font-size: 1.5rem;
  top: 100%;
  height: 0;
  padding: 0 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.feed-page header .profile-options.open {
  height: auto;
  padding: 20px;
  padding-top: 80px;
  opacity: 1;
}

.feed-page header .profile-options div {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.feed-page header .profile-options div:hover {
  transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */

.feed-page main{
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin: auto;
  flex: 1;
  width: 80%;
  overflow: hidden;
  padding: 50px;
}

.feed-page main .left{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform: scale(0.95);
}

.feed-page main .right{
  flex: 1;
  transform: scale(0.95);
}

.feed-page main .left > div,
.feed-page main .right{
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.feed-page main .left > div:hover{
  transform: scale(1.05);
}

.feed-page main .right:hover{
  transform: scale(1);
}

.feed-page main .left .leaderboard{
  background: var(--green);
  height: 120px;
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-page main .left .continue-learning{
  background: var(--yellow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  gap: 12px;
  font-size: 3.5rem;

}

.feed-page main .right > div{
  padding: 30px 0;
  background: var(--yellow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3.5rem;
}

.feed-page main .right > div div:first-child{
  font-size: 4rem;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

.feed-page footer {
  width: 100%;
  display: flex;
  gap: 30px;
}

.feed-page footer > div {
  width: 100%;
  background: var(--green);
  flex: 1;
  text-align: center;
  /* padding: 21px; */
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform: scale(1.025);
  border: 5px solid white;
}

.feed-page footer > div:hover{
  transform: scale(1.1);
}