* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Excalifont';
  src: url('fonts/Excalifont-Regular.woff2') format('woff2'),
      url('fonts/Excalifont-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Excalifont", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: hsl(120, 55%, 68%);
  --yellow: hsl(49, 100%, 80%);
  --red: hsl(0, 100%, 89%);
  --blue: hsl(206, 100%, 82%);
  --teal: hsl(162, 78%, 77%);
  --orange: hsl(33, 100%, 83%);
  --pink: hsl(338, 91%, 87%);
  
  
  /* Lighter versions */
  --green-light: hsl(120, 57%, 78%);
  --yellow-light: hsl(49, 100%, 86%);
  --red-light: hsl(0, 100%, 93%);
  --blue-light: hsl(207, 100%, 87%);
  --teal-light: hsl(162, 80%, 83%);
  --orange-light: hsl(33, 100%, 88%);
  --pink-light: hsl(338, 92%, 89%);
}

html, body {
  height: 100%;
  width: 100%;
}

body { 
  margin: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 1440px;
  height: 900px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px;
}


/* html, body{
  height: 100vh;
} */

/* body{
  margin: auto;
} */

[class*='flag-circle'], [class^='flag-circle'] { /* unused */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
